<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delightland.mapper.DictMapper">

    <insert id="newDict">
        insert into Dict(dict_word, dict_mean, file_no, sf9_name)
        value(#{dict_word}, #{dict_mean}, #{file_no}, #{sf9_name})
    </insert>

    <select id="findAll" resultType="com.delightland.domain.Dict">
        select dict_no, dict_word, dict_mean, file_no, sf9_name
        from Dict
    </select>

    <select id="findBySF9Name" resultType="com.delightland.domain.Dict">
        select dict_no, dict_word, dict_mean, file_no, sf9_name
        from Dict where sf9_name like #{sf9_name}
    </select>

    <select id="findByWord" resultType="com.delightland.domain.Dict">
        select dict_no, dict_word, dict_mean, file_no, sf9_name
        from Dict where dict_word = #{dict_word}
    </select>


</mapper>