<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delightland.mapper.SF9Mapper">

    <insert id="newMember">
        insert into SF9(sf9_name, sf9_birth, sf9_insta)
        value(#{sf9_name}, #{sf9_birth}, #{sf9_insta})
    </insert>

    <select id="findAll" resultType="com.delightland.domain.SF9">
        select sf9_no, sf9_name, sf9_birth, sf9_insta 
        from SF9
    </select>
    <select id="findByName" resultType="com.delightland.domain.SF9">
        select sf9_no, sf9_name, sf9_birth, sf9_insta
        from SF9 where sf9_name = "영빈"
    </select>
    <select id="findByNo" resultType="com.delightland.domain.SF9">
        select sf9_no, sf9_name, sf9_birth, sf9_insta
        from SF9 where sf9_no = 1
    </select>
    <select id="careerByno" resultType="com.delightland.domain.Career">
        SELECT c.career_no, c.career_name, c.career_role, c.career_date, s.sf9_name, c.file_no  
        from Career c LEFT JOIN SF9 s ON s.sf9_no = c.sf9_no where s.sf9_no = #{sf9_no}
    </select>
</mapper>